$contentBackground: url(../img/header_background_v2.jpg);
$colorText: #d85722;
$fontFamily: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$colorBtnAndText: #0401ac;
$colorArticleBackground: #ffffff;
$colorTextRed: #bdbdbd;
$colorLine: #cfd8dc;
$colorText2: #607d8b;
$colorBg: #efefef;
