$contentBackground: url(../img/header_background_v1.jpg);
$colorText: #fff;
$fontFamily: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$colorBtnAndText: #01acac;
$colorArticleBackground: #efefef;
$colorTextRed: #FF0000;
$colorLine: #607d8b;
$colorText2: #0097a7;
$colorBg: #ffffff;