* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}

.main-wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    background: url("../img/sample2.jpg") center center no-repeat;
    background-size: cover;
    padding: 20px;
    color: #ffffff;
    height: 400px;
}

.logo p {
    font-size: 14px;
    letter-spacing: 3px;
}
.main-header {
    font-size: 40px;
    letter-spacing: 12px;
}

.logo p, .main-header {
    text-transform: uppercase;
}

.main-header, .text-year, .nav-iteam, .header-two {
    text-align: center;
}

.header-two {
    font-weight: normal;
}

.main-header {
    margin-top: 140px;
}

.careers-about-show {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}

.nav-iteam {
    border: 1px solid #ffffff;
    background: rgba(0, 0, 0, 0.4);
    width: 100px;
    padding: 10px 30px;
}

.login-signup a, .careers-about-show a, .footer-nav a {
    text-decoration: none;
}

.login-signup a {
    margin-left: 40px;
}

.top-wrapper {
    display: flex;
    justify-content: space-between;
}

.black-triangle {
    width: 0;
    height: 0;
    border-style: inset;
    border-width: 0 1600px 200px 0;
    border-color: transparent #000000 transparent transparent;
    float: right;
}

.text-in-black-triangle-one {
    top: 0;
    left: 900px;
    position: relative;
    width: 700px;
    height: 93px;
    margin-top: 20px;
}

.text-in-black-triangle-two {
    top: 0;
    left: 200px;
    position: relative;
    width: 400px;
    height: 93px;
    margin-top: 20px;
    margin-left: 50px;
}

.bg {
    overflow: hidden;
    background: #f3f3f3;
}

.middle-container {
    display: flex;
}

.image-text, .article-container {
    margin: 20px;
}

.image-text {
    background: url("../img/sample.jpg") no-repeat;
    background-size: cover;
    width: 55%;
    position: relative;
    margin-right: 5%;
}

.image-text p:nth-child(1) {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 2px solid #ffffff;
    background: rgba(0, 0, 0, 0.2);
    padding: 2px 6px;
}

.image-text p:nth-child(2) {
    position: absolute;
    font-size: 12px;
    bottom: 15px;
    left: 15px;
    padding: 2px 6px;
}

.article-container {
    width: 40%;
}

.article-container p {
    margin-bottom: 20px;
    text-align: center;
}

.iteams-list {
    display: flex;
    justify-content: space-around;
}

.iteam {
    width: 300px;
    box-shadow: 0 1px 3px black;
    margin: 30px;
    padding: 20px;
}

.iteam button {
    width: 100%;
    padding: 5px 0;
}

.iteam button, .subscribe button, .form-end-page button {
    background: #097774;
    border: none;
    font-weight: bold;
}

.iteam p {
    margin-bottom: 20px;
}

.newsletter {
    background: #f3f3f3;
    padding: 20px;
}

.subscribe {
    display: flex;
    justify-content: flex-end;
}

.subscribe input, .subscribe button, .subscribe p, .form-end-page button, .form-end-page input {
    padding: 10px;
}

.subscribe input, .subscribe button {
    margin-left: 10px;
}

.subscribe input, .form-end-page input {
    background: #f3f3f3;
    border: 1px solid #000000;
}

.contacts {
    display: flex;
    margin: 100px 0;
}

.iteam-1 {
    width: 25%;
    margin: 0 20px;
}

.iteam-2 {
    width: 30%;
    margin-right: 20px;
}

.iteam-3 {
    width: 15%;
    margin-right: 200px;

}
.iteam-4 {
    width: 30%;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.footer-nav a {
    margin-left: 20px;
    color: #000000;
}

.login-signup a, .careers-about-show a, .text-in-black-triangle-one, .image-text p:nth-child(1),
.image-text p:nth-child(2), .iteam button, .subscribe button, .form-end-page button {
    color: #ffffff;
}

hr{
    margin: 20px ;
}

.contacts h3 {
     padding-bottom: 20px;
 }

.contacts p, footer p {
    color: #a0a0a0;
}

.iteam-2 p:nth-child(2) {
    font-style: italic;
}

.iteam-2 p:nth-child(3) {
    color: #e0e0e0;
}
